#
# DOCKER REDSOCKS service to pass proxy
#

[Unit]
Description=DOCKER REDSOCKS service to pass proxy

# Requirements
Requires=docker.service
Requires=network-online.target

# Dependency ordering
After=docker.service
After=network-online.target


[Service]
# Let processes take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
## Container preparation
ExecStartPre=-/usr/bin/docker kill dk-redsocks
ExecStartPre=-/usr/bin/docker rm dk-redsocks
ExecStartPre=/usr/bin/docker pull amontaigu/redsocks
## Container start
ExecStart=/usr/bin/docker run --privileged=true --net=host --name dk-redsocks \
    -v /etc/dk-redsocks/whitelist.txt:/etc/redsocks-whitelist.txt \
    amontaigu/redsocks PUT_YOUR_PROXY_HERE 3128

# Stop
ExecStop=/usr/bin/docker stop dk-redsocks


[Install]
WantedBy=multi-user.target